/*最新活动css*/
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	min-width: 1280px;
	font-family: 'Microsoft YaHei';

}
header{
	width: 100%;
	height: 60px;
	font-size: 0;

}
header .banner-left{
	height: 60px;
	width: 10%;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
	text-align: center;
	position: relative;
	left: 7%;
	background: url(../img/logo.png) no-repeat left;
	background-size: 30% 80%;

}
header .banner-left h1{
	color: #4E3A4F;
	font-size: 24px;
	margin: 0;
	font-weight: 500;
	cursor: default;
	text-indent: 35px;
}
header nav{
	height: 60px;
  	width: 30%;
  	display: inline-block;
  	vertical-align: middle;
  	position: relative;
  	left: 40%;
}
header nav ul{
	height: 60px;
	width: 100%;
	line-height: 60px;
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header nav ul li a{
	text-decoration: none;
	color: #534141;
	-webkit-transition:color 0.4s ease-in-out;
	-moz-transition:color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}
header nav ul li {
	display: inline-block;
	width: 20%;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}

header nav ul li :hover{
	color: #F04C57;
}
header nav ul .move{
	position: absolute;
	border-top: 4px solid #E53C3C;
	left: 0;
	top: 55px;
	-webkit-transition:left 0.4s ease-in-out;
	-moz-transition:left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}
header nav ul li:nth-child(1):hover~.move{
	left: 0;
}
header nav ul li:nth-child(2):hover~.move{
	left:20%;
}
header nav ul li:nth-child(3):hover~.move{
	left:40%;
}
header nav ul li:nth-child(4):hover~.move{
	left:60%;
}
header nav ul li:nth-child(5):hover~.move{
	left:80%;
}
header .banner-right a{
	text-decoration: none;
	color: #E53C3C;
	font-size: 14px;
}
header .banner-right{
	
	height: 60px;
	width: 7%;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	position: relative;
	left: 50%;

	background: url(../img/icon1.jpg)no-repeat left;
	background-size: 15px 18px;

}
header .banner-right .move{
	width: 0;
	border-top: 2px solid #e53c3c;
	position: absolute;
	top: 45px;
	left: 25%;
	-webkit-transition:width 0.4s ease-in-out;
    -moz-transition:width 0.4s ease-in-out;
    transition:width 0.4s ease-in-out;
}
header .banner-right:hover .move{
    width: 50px;
}
#passage-body{
	
	margin: 0 auto;
	padding: 20px;
}
.passage{
	background-color:#ccc;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 3px 3px 3px #333;
	width: 1140px;
}
.passage h2{
	text-align: left;
	font-family:  "Microsoft Yahei" ;
	font-size: 26px;
	font-weight: 600;
}
.passage h3{
	text-align: left;
	font-family:  "Microsoft Yahei" ;
	line-height: 40px;
	font-size: 18px;
	font-weight: 600;
	color: #878586;
}
.passage-info{
	text-align: left;
	font-family: "Microsoft Yahei" ;
	line-height: 30px;
	color: #A9A9A9;
	font-size: 15px;
	font-weight: 400;
	text-indent: 0px;
}
.passage p{
	text-align: left;
	font-family: "Microsoft Yahei";
	line-height: 25px;
	font-size: 15px;
	font-weight: normal;
	text-indent: 2em;
}
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: black;
}
footer .mes ,footer .back{
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 10px;
}
footer .mes{
	float: left;
}
footer .back{
	float: right;
}
footer .back a{
	text-decoration: none;
	color: #fff;
	-webkit-transition:color 0.4s ease-in-out;
	-moz-transition:color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}
footer .back a:hover{
	color: #75757f;
}


